@keyframes slideFade {
    0%{
        transform: translateY(-400%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

body{
    background-image: linear-gradient(to bottom right, black,black, rgb(255, 198, 92));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    flex-direction: column;
    color: white;  

    text-align: center;   
}
h1{
    color:white;
    font-size: 5rem;
    margin-inline: auto;
}

table , td, th{
    border: solid 5px white;
    font-size: 150%;
    
}
table{
    margin-inline: auto;
}
td{
    padding-inline: 3vw;
}
li strong{
    transition: 0.2s ease-in-out;
}
.role_hover{
    background-color: rgba(255,255,255,0.16);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 13px rgba(255,255,255,0.16);
}
strong {
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}

iframe{
    border: 7px solid white
}
ul{
    text-align: start;
}
.case{

    margin-block: 1%;
}
.roles{
    margin-inline: 30vw;
    width: 40vh;
    border-radius: 10px;
    border: solid white 2px;
    justify-self: center;
}
.compo{
    display: flex;
    justify-content : center;
    font-size: 200%;
}
.explication{
    display: flex;
    font-size: 3vw;
    color:white;
    justify-content: center;
    text-wrap: nowrap;
}

.jeux{
    display: flex;
    padding: 40px;
    justify-content: space-around;
    
    
    
}

.jeux a {
    font-size: 500%;
    text-decoration: none;
    color: rgb(85, 83, 83);
    transition: 0.2s ease
}

.jeux a:hover{
    color: white;
    font-size: 510%;
    transition: 0.2s ease
}


#id_display{
    display: flex;
    flex-direction: row;
    margin-block: 2vh;
    gap:2vw;
    justify-content: center;
}
#id_display article {
    justify-content: center;
    align-self: center;
    background-color: black;
    padding: 0.4%;
    padding-inline: 0.8%;
    border-radius: 10%;
    user-select: none;
    font-size: 300%;
    transition: 0.2s ease-in-out;
}
.left_video:hover {
    color: gray;
    transform: translate(-5px);
    transition: 0.2s ease;
}
.right_video:hover {
    color: gray;
    transform: translate(5px);
    transition: 0.2s ease;
}

#id_display article:active{
    scale: 90%;
    transition: 0.2s ease;
}
.goty{  
    color: white;
    text-decoration:underline;
    transition: 0.2s ease;
}
.goty:hover{  
    color: rgb(138, 138, 138);
    transform: scale(155);
    transition: 0.2s ease;
}
.Présentation{
    background-color: rgb(0, 0, 0);
    background-position: 10%;
    background-size:cover;
    box-sizing:border-box;
    min-height: 100vh;
    padding-block: 32px;
    padding-bottom: 5vh;

    margin-top: -8.5px;
    margin-bottom: 2vh;

    border: solid 2px white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ow-logo{
    width: 20%;
    margin-inline: auto;
}
.ow-text{
    width: 50%;
    margin-inline: auto;
    z-index: 1;
    transform: translateY(-20%);
    background-color: black;
}
.by_yassine{
    width: 20%;
    margin-inline: auto;
    z-index: 0;
    transform: translateY(-400%);
    animation: slideFade 1s ease-in-out 
}

.sounds{
    margin-inline: 3vw;
}
.sounds iframe{
    border-radius: 5px;
    background-color: black;
}
.sounds a {
    color: aquamarine;
}
.instant-link link-secondary{
    color: blueviolet;
}